.formInputGroup {
  display: flex;
  flex-direction: row;
  width: 100%;

  .formInputGroupItem {
    padding-right: 20px;
  }
}

.submitButton {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
