@use 'react-date-picker/dist/DatePicker.css';

.formElementWrapper {
  margin-bottom: 20px;
  .label {
    margin-bottom: 10px;
  }
  .formElement {
    font-size: 16px;

    .fieldRequiredMessage {
      color: red;
      font-size: 12px;
    }

    .formInput {
      border: 3px #014039 solid;
      border-radius: 3px;
      padding: 10px;
    }

    .formInputError {
      border: 3px red solid;
      border-radius: 3px;
      padding: 10px;
    }

    :global(.react-date-picker__wrapper) {
      border: 3px #014039 solid;
      border-radius: 3px;
      padding: 5px;
    }

    :global(.react-select__control) {
      border: 3px #014039 solid;
      border-radius: 3px;
      padding: 5px;
    }
  }
}

.formButton {
  border-radius: 3px;
  padding: 10px;
  background-color: #014039;
  color: white;
  border: none;
  width: 170px;
  &:disabled {
    cursor: not-allowed;
  }
}

.checkboxWithLabel {
  display: flex;
  .checkboxWrapper {
    margin-right: 10px;
  }
}
